@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

.coronaBot-loader {
  animation: spin 5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.styles_overlay__CLSq- undefined {
  position: relative !important;
}

.styles_modal__gNwvD {
  color: #dadada;
  width: 100%;
  height: 90vh;
  padding-top: 64px;
  background-color: #111923;
}

.styles_closeIcon__1QwbI {
  fill: #ffb444 !important;
}

// colors: {
//   bg: "#111923",
//   primary: "#FFB444",
//   text: "#DADADA",
//   dark: "#333333",
//   grey: "#3B4046"

.sc-fzoyTs.idAlfe {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.form-hide {
  opacity: 0;
  transition: 0.5s;
}
.form-show {
  opacity: 1;
  transition: 0.5s;
}
