.coronaBot-loader {
  animation: spin 5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.styles_overlay__CLSq- undefined {
  position: relative !important;
}

.styles_modal__gNwvD {
  color: #dadada;
  width: 100%;
  height: 60vh;
  background-color: #111923;
}

.styles_closeIcon__1QwbI {
  fill: #ffb444 !important;
}

// colors: {
//   bg: "#111923",
//   primary: "#FFB444",
//   text: "#DADADA",
//   dark: "#333333",
//   grey: "#3B4046"
